﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center position-ref full-height loginbox">
    <div class="col-md-11 container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12 border p-3 w-100 center-content">
                        <form role="form" id="formData">
                            <div class="form-group"><h3>Avaliação Prática</h3></div>
                            <div class="form-group">
                                <input type="hidden" name="_token" value="">
                                <label for="email">E-mail</label>
                                <input id="email" type="text" class="form-control form-control" name="email"
                                    value="" required autofocus> </div>
                            <div class="form-group">
                                <label for="password">Senha</label>
                                <input id="password" type="password" class="form-control form-control "
                                    name="password" required autocomplete="current-password">
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary btn-entrar">Entrar</button>
                                <a class="btn btn-link" href="javascript: Incluir()" id="link-cadastrar">Quero me cadastrar</a>
                            </div>
                            <div class="form-group" id="divLoginInvalido">
                                <h4>Login Inválido</h4>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>