<div class="form-group"><h3>Atualizar</h3></div>
<input type="hidden" id="id" name="id" value="">
<div class="form-group">
    <label for="nome">Nome</label>
    <input id="nome" type="text" class="form-control form-control" name="nome"
        value="" required autofocus>
</div>
<div class="form-group">
    <label for="email">E-mail</label>
    <input id="email" type="text" class="form-control form-control" name="email"
        value="" required>
</div>
<div class="form-group">
    <label for="password">Senha</label>
    <input id="password" type="password" class="form-control form-control "
        name="password" required autocomplete="current-password">
</div>
<div class="form-group">
    <button type="button" class="btn btn-primary btn-atualizar">Atualizar</button>
    <button type="button" class="btn btn-primary btn-excluir">Excluir</button>
</div>
<div class="form-group" id="divMensagem"></div>
<div class="form-group" id="divAtualizar">
    <p>Confirma Exclusão</p>
    <button type="button" class="btn btn-primary btn-confirma">Sim</button>
    &nbsp;&nbsp;
    <button type="button" class="btn btn-primary btn-naoconfirma">Não</button>
</div>
<script src="/js/atualizar.js" asp-append-version="true"></script>